@import "../src/style/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  display: block;
  background: linear-gradient(
    to left,
    $lightBlue,
    rgb(249, 249, 249),
    rgb(249, 249, 249),
    rgb(249, 249, 249),
    $lightBlue
  );
}
.header {
  h1:hover,
  h4:hover {
    color: $blue;
  }
  cursor: default;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
  background: linear-gradient(
    to left,
    $blue,
    #e4e5e6,
    rgb(249, 249, 249),
    white,
    rgb(249, 249, 249),
    #e4e5e6,
    $blue
  );
  .line {
    display: block;
    width: 300px;
    height: 4px;
    border-radius: 1px;
    background: linear-gradient(
      to left,
      white,
      #e4e5e6,
      #00416a,
      #e4e5e6,
      white
    );
    margin-bottom: 5px;
  }
}
.main-block {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100%;
  &__section1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 120px;
    border: 1px solid lightgray;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 4px 0 black;
    padding: 10px 0;
    border-bottom: none;
    label {
      width: 100%;
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }
    input {
      display: block;
      width: 60%;
      height: 40%;
      border: 1px solid lightgrey;
      border-radius: 5px 0 0 5px;
      padding-left: 10px;
      font-size: 18px;
      &:focus {
        border: 1px solid $firstColor;
        outline: 3px solid $outlineColor;
      }
    }
    .exchange-btn {
      display: block;
      width: 25%;
      height: 40%;
      background-color: $lightBlue;
      border: none;
      border-radius: 0 5px 5px 0;
      font-size: 20px;
      transition: all 0.35s;

      &:hover {
        background-color: rgb(174, 255, 137);
        box-shadow: 1px 1px 4px black;
      }
      &:active {
        box-shadow: inset 1px 1px 2px 0px black;
      }
    }
  }
  &__section2 {
    display: block;
    width: 600px;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 4px 0 black;
    background-color: white;
    padding: 10px;
    overflow: auto;
  }
}
